
@{
    ViewBag.Title = ViewBag.UserName;
}

@*<h2>@ViewBag.UserName</h2>*@

<div class="container mt-5">
    <div class="row">


        <div class="col-lg-2 sidenav">

            <a href="/account/viewfriends?userID=@ViewBag.UserID">Friends</a>
            <a href="/recipes/Index?userID=@ViewBag.UserID">Recipes</a>

        </div>
        <div class="col-4">
            <div class="user-layout">
                <p class="userImg">

                </p>
                <div class="row">

                    <div class="col"><h3>@ViewBag.ViewingFullName</h3></div>

                </div>
            </div>
            @if (ViewBag.UserType == "guest")
            {
                <div class="friends">
                    @if (ViewBag.NotFriends == "Pending")
                    {
                        <span class="areFriendsDiv badge badge-warning">
                            Pending Friend Request.
                        </span>
                    }
                    else if (ViewBag.NotFriends == "True")
                    {
                        //<span class="areFriendsDiv badge badge-primary">
                        <a href="#" class="addFriendFromPage areFriendsDiv badge badge-primary">Add Friend</a>
                        //</span>
                    }
                    else
                    {
                        <div class="areFriendsDiv alert alert-primary">
                            <span class="fa fa-user-friends "></span>You are friends with @ViewBag.ViewingFullName
                        </div>
                    }
                </div>
            }
        </div>
        <div class="col-4 mt-4">
            <div class="feed">

                <table id="tblFeed">
                    <thead>
                        <tr>
                            <th></th>


                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>

        </div>

    </div>




    @*friends search*@
    @*<div class="row">

            <div class="col-md-6 col-lg-4">
                <ul class="nav navbar-nav">
                    <li class="userLiveSearchLi mainSearchLi">
                        <input id="userSearchText" class="searchText form-control" type="text" placeholder="Search" />
                        <ul id="userLiveSearchUl"></ul>
                    </li>
                </ul>
            </div>


        </div>*@

    <!--<div class="row">
    <div class="col mt-3 mr-3 card">
        <div class="card-body">
            <h5 class="card-title">Friends</h5>

            <div class="myFriends ml-4">
                @ViewBag.FriendCount

                @if (ViewBag.FriendCount == 0 || ViewBag.FriendCount > 1)
                {
                    <span>Friends</span>
                }
                else
                {
                    <span>Friend</span>
                }

            </div>

            @if (ViewBag.FriendCount > 0)
            {
                <div class="divCurrentFriends mt-2 @User.Identity.Name">
                    <table id="tblFriends">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            }-->
    @*<div class="divFriendContainer clearfix">
            <div class="divFriendName">
                <a href="#" class="clickAddFriend" data-id="@friend.User_id">@friend.First_name @friend.Last_name</a>
            </div>
            <div class="divFriendButton">
                @if (ViewBag.UserType == "guest")
                {
                    <a href="#" class="btnAddNewFriend" data-id="@friend.User_id">Add Friend</a>
                }
            </div>
        </div>*@


    <!--</div>

        </div>
        @if (ViewBag.UserType == "owner")
        {
            <div class="col ml-3 mt-3 card">
                <div class="card-body">
                    <h5 class="card-title">Friend Requests</h5>
                    @if (ViewBag.UserType == "owner")
                    {
                        <div class="myFriends ml-4">
                            @if (ViewBag.FriendRequestCount > 0)
                            {
                                <span>
                                    @ViewBag.FriendRequestCount Friend Requests
                                </span>
                            }
                            else
                            {
                                <span>
                                    0 Friend Requests
                                </span>
                            }
                        </div>

                        if (ViewBag.FriendRequestCount > 0)
                        {
                            <div class="divRequests mt-2">

                                <table id="tblRequests">
                                    @foreach (var request in ViewBag.ListRequests)
                                    {
                                        int counter = 0;
                                        <tr class=divFriendContainer>
                                            <td>
                                                <a href="/@request.Username" class="clickViewFriend">@request.First_name @request.Last_name</a>
                                            </td>
                                            <td>
                                                <a href="#" class="btnAccept acceptRequest" data-row=@counter data-id="@request.User_id">Accept</a>
                                            </td>
                                            <td>
                                                <a href="#" class="btnDecline declineRequest" data-row=@counter data-id="@request.User_id">Decline</a>
                                            </td>
                                        </tr>

                                        counter++;
                                    }
                                </table>
                            </div>
                        }
                    }

                </div>
            </div>
        }
    </div>-->
</div>



@section Scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script>
        $(document).ready(function () {


             /*
           * Load Feed
           */

            var currentFeedPageNumber = 1;
            loadFeed(currentFeedPageNumber);

            $(window).scroll(function () {
                if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                    currentFeedPageNumber += 1;
                    loadFeed(currentFeedPageNumber);
                }
            });

            function loadFeed(currentPage) {

                var userID = '@ViewBag.UserID';

                $.ajax({
                    url: '/FriendService.asmx/GetRecipes',
                    method: 'post',
                    data: { pageNumber: currentPage, pageSize: 3, userID: userID },
                    dataType: 'json',
                    success: function (data) {
                        var feedTable = $('#tblFeed tbody');

                        $(data).each(function (index, post) {

                            //var counter = 0;
                            var rating = post.Rating;
                            console.log(post.User_id);
                            var tr = '<tr>' +
                                '<td>' +
                                '<div class="card border-secondary postCard mb-3"><div class="card-header postCardHeader">By: <a href ="/' + post.Username + '" class=postUserName data-id="' + post.User_id + '">' + post.Username + '</a><span class=postCreated>' + post.Created.toString() + '</span></div><div class="card-body"><h4 class="card-title"><img src="/Uploads/' + post.RecipeID + '.jpg" class="postRecipePic img-thumbnail" /><br/>' + post.RecipeName + '</h4><p class="card-text"><br/>' + post.Description + '</p>' +
                                '<a href="#" class="btn btn-sm btn-success viewRecipe" data-id="' + post.RecipeID + '" >View Recipe</a> ';


                                // rating
                                //'<div class="ratingDiv post.RecipeID" data-recipeid=' + post.RecipeID + '>';
                                //if(rating >=1) {
                                //   tr += '<img src="/Images/yellowstar.png" class="ratingStar" data-value="1" />';
                                //} else {
                                //   tr += '<img src="/Images/whitestar.png" class="ratingStar" data-value="1" />';
                                //}
                                //if (rating >= 2) {
                                //    tr += '<img src="/Images/yellowstar.png" class="ratingStar" data-value="2" />';
                                //} else {
                                //    tr += '<img src="/Images/whitestar.png" class="ratingStar" data-value="2" />';
                                //}
                                //if (rating >= 3) {
                                //    tr += '<img src="/Images/yellowstar.png" class="ratingStar" data-value="3" />';
                                //} else {
                                //    tr += '<img src="/Images/whitestar.png" class="ratingStar" data-value="3" />';
                                //} if (rating >= 4) {
                                //    tr += '<img src="/Images/yellowstar.png" class="ratingStar" data-value="4" />';
                                //} else {
                                //    tr += '<img src="/Images/whitestar.png" class="ratingStar" data-value="4" />';
                                //} if (rating >= 4) {
                                //    tr += '<img src="/Images/yellowstar.png" class="ratingStar" data-value="5" />';
                                //} else {
                                //    tr += '<img src="/Images/whitestar.png" class="ratingStar" data-value="5" />';
                                //}

                                //tr += post.NumRates;


                            '</div>';


                                    feedTable.append(tr);

                        });
                    }
                });
            }

             /*
             *  Click on Recipe to View
             */
            $("body").on("click", ".viewRecipe", function (e) {
                e.preventDefault();
                var $this = $(this);

                var recipeID = $this.data("id");
                var userID = @ViewBag.UserID;
                var url = "../recipes/ViewRecipe?recipeID=";
                //var url = "../recipes/ViewRecipe/";
                window.location.href = url + recipeID;
            });

            /*
           * Load Friends
           */

            var currentPageNumber = 1;
            loadFriends(currentPageNumber);

            function loadFriends(currentPage) {

                var userID = @ViewBag.UserID;
                var viewingID = @ViewBag.ViewingID;

                $.ajax({
                    url: 'FriendService.asmx/GetFriends',
                    method: 'post',
                    data: { pageNumber: currentPage, pageSize: 10, viewingID: viewingID, userID: userID },
                    dataType: 'json',
                    success: function (data) {
                        var friendTable = $('#tblFriends tbody');

                        $(data).each(function (index, friend) {

                            //var counter = 0;

                            console.log(friend.User_id);
                            var tr = '<tr class=divFriendContainer><td><a href="/' + friend.Username + '" class=clickAddFriend data-id="' + friend.User_id + '">' + friend.First_name + ' ' + friend.Last_name + '</a></td><td>';
                            if (friend.ShowAddFriend == true) {
                                tr = tr + '<td><a href="#" class="btnAddNewFriend addFriend" data-id="' + friend.Username + '">Add Friend</a></td></tr >';
                            } else if (friend.Pending == true) {
                                tr = tr + '<td><a href="#" class="btnPendingFriend">Pending</a></td></tr >';
                            } else {
                                tr = tr + '<td></td>';
                            }

                            //counter++;

                            friendTable.append(tr);

                        });
                    }
                });
            }


             /*
             * Live Search Username
             */

            $('input#userSearchText').keyup(function () {

                var searchVal = $('input#userSearchText').val();
                $('ul#userLiveSearchUl').empty();

                if (searchVal == "" || searchVal == " ") {
                    return false
                }

                var url = 'profile/LiveSearchUser';

                $.post(url, { searchVal: searchVal, userName: '@ViewBag.Username' }, function (data) {
                    if (data.length > 0) {
                        $('ul#userLiveSearchUl').append("<li class=close>x</li>");
                        for (var i = 0; i < data.length; i++) {
                            var obj = data[i];

                            $('ul#userLiveSearchUl').append('<li class="userLiveSearchLi" ><i class="fa fa-search mr-2"></i><a class=searchLi data-id="' + obj.Username +  '" href="/' + obj.Username + '">' + obj.First_name + ' ' + obj.Last_name + '</a></li>');
                        }
                        $('ul#userLiveSearchUl').append('<li class="userLiveSearchLi" "><i class="fa fa-search mr-2"></i><a href="/' + obj.Username + '"> Search for ' + searchVal + '</a></li>');
                    } else {
                        $('ul#userLiveSearchUl').append('<li class=userLiveSearchLi><i class="fa fa-search mr-2"></i><a class=globalSearch href="#"> Search for ' + searchVal + '</a></li>');
                    }
                });
            });

            // friends search click close
            $("body").on('click', 'ul#userLiveSearchUl li.close', function () {
                $('ul#userLiveSearchUl').empty();
                $('input#userSearchText').val('');
            });



            /*
            * Display friend requests
            */

            $("body").on("click", "span.friendRequestNotification.green", function () {

                window.location.href = "/" + '@ViewBag.Username';

                //$('ul#friendRequestNotifUL').empty();


                //var url = '/profile/DisplayFriendRequests';
                //$.post(url, {}, function (data) {
                //    if (data.length > 0) {
                //        $('ul#friendRequestNotifUL').append("<li class=close>x</li>");
                //    }
                //    for (var i = 0; i < data.length; i++) {
                //        var obj = data[i];

                //        $('ul#friendRequestNotifUL').append('<li class=friendRequestNotificationLi><a href="/' + obj.Username + '">' + obj.First_name + ' ' + obj.Last_name + '</a> ' + '<a class=accept href="#" data-id="' + obj.User_id + '"><span><i class="fa fa-check"></i></span></a>' + ' ' + '<a class=decline href="#" data-id=' + obj.User_id + '"><span><i class="fa fa-window-close"></i></span></a></li>');
                //    }

                //});
            });



           /*
             Hub
             */

            // Setup Hub Connection
            var hub = $.connection.echo;

            hub.client.test = function (msg) {
                console.log(msg);
            }

            hub.client.friendRequestNotify = function (friend, requestCount) {



                $("span.friendRequestNotification." + friend + "> span").text(requestCount);
                $("span.friendRequestNotification." + friend).addClass("green");
            }

            hub.client.friendRequestCount = function (username, count) {
                if (count > 0) {
                    $("span.friendRequestNotification." + username + "> span").text(count);
                }
                else {
                    $("span.friendRequestNotification." + username + "> span").text("");
                    $("span.friendRequestNotification." + username).removeClass("green");

                }
            }

            // connect to the hub
            $.connection.hub
            .start()
            .done(function () {

                hub.server.hello("SignalR works from Username");

                /*
                 * Add Friend From their page
                 */


                $('a.addFriendFromPage').click(function (e) {
                    e.preventDefault();

                    var friend = '@ViewBag.ViewingUserName'

                    var url = '/profile/AddFriend';

                    $.post(url, { friend: friend }, function (data) {
                        //$('.areFriendsDiv').removeClass('alert-info').addClass('alert-warning').html('<p>Pending Friend Request</p>');
                    }).done(function () {
                        hub.server.notify(friend);
                        window.location.href = "/" + friend;
                    });
                });


                /*
                    * Add Friend
                    */
                $('a.addFriend').click(function (e) {
                    e.preventDefault();

                    var $this = $(this);
                    var userName = $this.data("id");

                    var friend = '@ViewBag.UserName';

                    console.log('friend: ' + friend);
                    console.log('userName: ' + userName);

                    var url = '/profile/AddFriend';

                    $.post(url, { friend: userName }, function (data) {
                        //$('.areFriendsDiv').removeClass('alert-info').addClass('alert-warning').html('<p>Pending Friend Request</p>');
                    }).done(function () {
                        hub.server.notify(friend);
                        window.location.href = "/" + friend;
                    });
                });

                ///////////////////////////////////////////////
                /*
                * Accept friend requests
                */

                $("body").on("click", "a.btnAccept", function (e) {
                    e.preventDefault();

                    var $this = $(this);
                    var friendId = $this.data("id");
                    var trRow = $this.data("row");

                    var friend = '@ViewBag.UserName';
                    console.log('rownum: ' + trRow);
                    var url = "/profile/AcceptFriendRequest";
                    $.post(url, { friendId: friendId }, function (data) {
                    }).done(function () {
                        //$this.parent().fadeOut("fast");
                        hub.server.getFriendRequestCount(@ViewBag.UserID);

                        //hub.server.getFriendCount(friendId);
                        window.location.href = "/" + friend;
                        $this.parent().parent().remove();
                        //loadFriends(currentPageNumber);
                    });
                });

                ///////////////////////////////////////////////
                /*
                * Decline friend requests
                */

                $("body").on("click", "a.btnDecline", function (e) {
                    e.preventDefault();

                    var $this = $(this);
                    var friendId = $this.data("id");
                    var trRow = $this.data("row");

                    var friend = '@ViewBag.UserName';
                    console.log('rownum: ' + trRow);
                    var url = "/profile/DeclineFriendRequest";
                    $.post(url, { friendId: friendId }, function (data) {
                    }).done(function () {
                        //$this.parent().fadeOut("fast");
                        hub.server.getFriendRequestCount(@ViewBag.UserID);

                        //hub.server.getFriendCount(friendId);
                        window.location.href = "/" + friend;
                        //$this.parent().parent().remove();
                        //loadFriends(currentPageNumber);
                    });
                });

            });



        });

    </script>
}
