
@{
    ViewBag.Title = "Index";
}



@if (Session["CurrentUserName"] == null)
{
    //place homepage items here, carousel,etc
    <h1>Recipe For Success</h1>

}

@*search goes here*@
@if (Session["CurrentUserName"] != null)
{

    <div class="container mt-5">

        @*<div class="row">
                <div class="col-6">

                    <ul class="nav navbar-nav">
                        <li class="userLiveSearchLi">
                            <input id="userSearchText" class="searchText form-control" type="text" placeholder="Search Friends" />
                            <ul id="userLiveSearchUl"></ul>
                        </li>
                    </ul>
                </div>
                <div class="col-6">

                    <ul class="nav navbar-nav">
                        <li class="recipeLiveSearchLi">
                            <input id="recipeSearchText" class="searchText form-control" type="text" placeholder="Search Recipes" />
                            <table id="tblRecipes">
                                <thead>
                                    <tr>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </li>
                    </ul>
                </div>
            </div>*@

        <div class="row">
            <div class="col-lg-2 sidenav">


                <a href="/account/viewfriends?userID=@ViewBag.UserID">Friends</a>
                <a href="/recipes/Index?userID=@ViewBag.UserID">Recipes</a>


            </div>
            <div class="col">

                <div class="feed">

                    <table id="tblFeed">
                        <thead>
                            <tr>
                                <th></th>


                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
}

@section Scripts {

    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script>

        $(document).ready(function () {



            /*
            * Live Search Recipe
            */
            $('input#recipeSearchText').blur(function () {




            });

            $('input#recipeSearchText').keyup(function () {

                var currentRecipePageNumber = 1;
                $('#tblRecipes tbody').find("tr").remove();
                var searchVal = $('input#recipeSearchText').val();
                loadRecipes(currentRecipePageNumber, searchVal);

                $(window).scroll(function () {
                    if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                        currentRecipePageNumber += 1;
                        loadFeed(currentRecipePageNumber);
                    }
                });

            });

            function loadRecipes(currentPage, searchVal) {
                $.ajax({
                    url: '/FriendService.asmx/SearchRecipes',
                    method: 'post',
                    data: { pageNumber: currentPage, pageSize: 3, searchVal: searchVal },
                    dataType: 'json',
                    success: function (data) {
                        var recipeTable = $('#tblRecipes tbody');

                        $(data).each(function (index, recipe) {
                            var tr = '<tr><td>' + recipe.Name + '</td></tr>';
                            console.log(tr);
                            recipeTable.append(tr);
                        });
                    }
                });
            }

           /*
           * Load Feed
           */

            var currentFeedPageNumber = 1;
            loadFeed(currentFeedPageNumber);

            $(window).scroll(function () {
                if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                    currentFeedPageNumber += 1;
                    loadFeed(currentFeedPageNumber);
                }
            });

            function loadFeed(currentPage) {

                var userID = '@ViewBag.UserID';

                $.ajax({
                    url: '/FriendService.asmx/GetRecipes',
                    method: 'post',
                    data: { pageNumber: currentPage, pageSize: 3, userID: userID },
                    dataType: 'json',
                    success: function (data) {
                        var feedTable = $('#tblFeed tbody');

                        $(data).each(function (index, post) {

                            //var counter = 0;
                            var rating = post.Rating;
                            console.log(post.User_id);
                            var tr = '<tr>' +
                                '<td>' +
                                '<div class="card border-secondary postCard mb-3"><div class="card-header postCardHeader">By:   <a href ="/' + post.Username + '" class=postUserName data-id="' + post.User_id + '">' + post.Username + '</a><span class=postCreated>' + post.Created.toString() + '</span></div><div class="card-body"><h4 class="card-title"><img src="/Uploads/' + post.RecipeID + '.jpg" class="postRecipePic img-thumbnail" /><br/>' + post.RecipeName + '</h4><p class="card-text"><br/>' + post.Description + '</p>' +
                                '<a href="#" class="btn btn-sm btn-info viewRecipe" data-id="' + post.RecipeID + '" >View Recipe</a> ';


                                // rating
                                //'<div class="ratingDiv post.RecipeID" data-recipeid=' + post.RecipeID + '>';
                                //if(rating >=1) {
                                //   tr += '<img src="/Images/yellowstar.png" class="ratingStar" data-value="1" />';
                                //} else {
                                //   tr += '<img src="/Images/whitestar.png" class="ratingStar" data-value="1" />';
                                //}
                                //if (rating >= 2) {
                                //    tr += '<img src="/Images/yellowstar.png" class="ratingStar" data-value="2" />';
                                //} else {
                                //    tr += '<img src="/Images/whitestar.png" class="ratingStar" data-value="2" />';
                                //}
                                //if (rating >= 3) {
                                //    tr += '<img src="/Images/yellowstar.png" class="ratingStar" data-value="3" />';
                                //} else {
                                //    tr += '<img src="/Images/whitestar.png" class="ratingStar" data-value="3" />';
                                //} if (rating >= 4) {
                                //    tr += '<img src="/Images/yellowstar.png" class="ratingStar" data-value="4" />';
                                //} else {
                                //    tr += '<img src="/Images/whitestar.png" class="ratingStar" data-value="4" />';
                                //} if (rating >= 4) {
                                //    tr += '<img src="/Images/yellowstar.png" class="ratingStar" data-value="5" />';
                                //} else {
                                //    tr += '<img src="/Images/whitestar.png" class="ratingStar" data-value="5" />';
                                //}

                                //tr += post.NumRates; 


                            '</div>';
                                   

                                    feedTable.append(tr);

                                });
                    }
                });
            }


            @*$.post(url, { friendId: friendId }, function (data) {
                    }).done(function () {
                        $this.parent().fadeOut("fast");
                        hub.server.getFriendRequestCount(@Session["CurrentUserID"]);
                        //hub.server.getFriendCount(friendId);

                    });*@

            /*
             *  Click on Recipe to View
             */
            $("body").on("click", ".viewRecipe", function (e) {
                e.preventDefault();
                var $this = $(this);

                var recipeID = $this.data("id");
                var userID = @ViewBag.UserID;
                var url = "../recipes/ViewRecipe?recipeID=";
                window.location.href = url + recipeID;
            });

            /*
             *  Star Rating
             */

            //var clickedFlag = false;
            $("body").on("mouseover", ".ratingStar", function () {

                var $this = $(this);
                var starRating = $this.data("value");
                console.log(starRating);

                $this.attr("src", "/Images/yellowstar.png").width('18px').prevAll("img.ratingStar").attr("src", "/Images/yellowstar.png").width('18px');
                $this.attr("src", "/Images/yellowstar.png").prevAll("img.ratingStar").attr("src", "/Images/yellowstar.png");

            });
            $("body").on("mouseout", ".ratingStar", function (e) {

                $(this).attr("src", "/Images/whitestar.png");
            });
            $("body").on("mouseout", ".ratingDiv", function () {
                //if (!clickedFlag) {
                    //$(".ratingStar").attr("src", "/Images/whitestar.png");
                //}
            });
            $("body").on("click", ".ratingStar", function () {
                var $this = $(this);
                var recipeid = $this.parent().data("recipeid");
                var userid = @ViewBag.UserID;
                var rating = $this.data("value");
                console.log(recipeid);
                console.log(userid);
                console.log(rating);

                //clickedFlag = true;
                //$(".ratingStar").unbind("mouseout mouseover click").css("cursor", "default");

                //var url = "/Home/SendRating?r=" + $(this).attr("data-value") + "&s=5&idModel&url=url";
                //$.post(url, null, function (data) {
                    //$("#lblResult").html(data);
                //});
            });
            //$("#lblResult").ajaxStart(function () {
            //    $("#lblResult").html("Processing ....");
            //});
            //$("#lblResult").ajaxError(function () {
            //    $("#lblResult").html("<br />Error occured.");
            //});



            /*
             * Live Search Username
             */

            $('input#userSearchText').keyup(function () {

                var searchVal = $('input#userSearchText').val();
                $('ul#userLiveSearchUl').empty();

                if (searchVal == "" || searchVal == " ") {
                    return false
                }

                var url = 'profile/LiveSearchUser';

                $.post(url, { searchVal: searchVal, userName: '@ViewBag.Username' }, function (data) {
                    if (data.length > 0) {
                        $('ul#userLiveSearchUl').append("<li class=close>x</li>");
                    }
                    for (var i = 0; i < data.length; i++) {
                        var obj = data[i];

                        $('ul#userLiveSearchUl').append('<li class=userLiveSearchLi><a href="/' + obj.Username + '">' + obj.First_name + ' ' + obj.Last_name + '</a></li>');
                    }

                });
            });

            // friends search click close
            $("body").on('click', 'ul#userLiveSearchUl li.close', function () {
                $('ul#userLiveSearchUl').empty();
                $('input#userSearchText').val('');
            });

            /*
            * Display friend requests
            */

            $("body").on("click", "span.friendRequestNotification.green", function () {

                window.location.href = "/" + '@ViewBag.Username';

                //$('ul#friendRequestNotifUL').empty();


                //var url = '/profile/DisplayFriendRequests';
                //$.post(url, {}, function (data) {
                //    if (data.length > 0) {
                //        $('ul#friendRequestNotifUL').append("<li class=close>x</li>");
                //    }
                //    for (var i = 0; i < data.length; i++) {
                //        var obj = data[i];

                //        $('ul#friendRequestNotifUL').append('<li class=friendRequestNotificationLi><a href="/' + obj.Username + '">' + obj.First_name + ' ' + obj.Last_name + '</a> ' + '<a class=accept href="#" data-id="' + obj.User_id + '"><span><i class="fa fa-check"></i></span></a>' + ' ' + '<a class=decline href="#" data-id=' + obj.User_id + '"><span><i class="fa fa-window-close"></i></span></a></li>');
                //    }

                //});
            });

            // friends search click close
            $("body").on('click', 'ul#friendRequestNotifUL li.close', function () {
                $('ul#friendRequestNotifUL').empty();
            });



            /*
             Hub
             */

            // Setup Hub Connection
            var hub = $.connection.echo;

            hub.client.test = function (msg) {
                console.log(msg);
            }

            hub.client.friendRequestNotify = function (friend, requestCount) {
                $("span.friendRequestNotification." + friend + "> span").text(requestCount);
                $("span.friendRequestNotification." + friend).addClass("green");
            }

            hub.client.friendRequestCount = function (username, count) {
                if (count > 0) {
                    $("span.friendRequestNotification." + username + "> span").text(count);
                }
                else {
                    $("span.friendRequestNotification." + username + "> span").text("");
                    $("span.friendRequestNotification." + username).removeClass("green");

                }
            }

            // connect to the hub
            $.connection.hub
            .start()
            .done(function () {
                hub.server.hello("SignalR works from Index");


                /*
                    * Add Friend
                    */
                $('a.addFriend').click(function (e) {
                    e.preventDefault();

                    var friendID = '@ViewBag.UserId'

                    var url = '/account/AddFriend';

                    $.post(url, { friend: friend }, function (data) {
                        $('.areFriendsDiv').removeClass('badge-info').addClass('badge-warning').html('<p>Pending Friend Request</p>');
                    }).done(function () {
                        hub.server.notify(friend);
                    });
                });


                ///////////////////////////////////////////////
                /*
                * Accept friend requests
                */

                $("body").on("click", "a.accept", function (e) {
                    e.preventDefault();

                    var $this = $(this);
                    var friendId = $this.data("id");
                    console.log(friendId);
                    var url = "/profile/AcceptFriendRequest";
                    $.post(url, { friendId: friendId }, function (data) {
                    }).done(function () {
                        $this.parent().fadeOut("fast");
                        hub.server.getFriendRequestCount(@Session["CurrentUserID"]);
                        //hub.server.getFriendCount(friendId);

                    });
                });

            });

            ///////////////////////////////////////////////

        }); // end ready


    </script>
}