@model RecipeForSuccess.ViewModels.RecipeViewVM

@{
    ViewBag.Title = "ViewRecipe";
}

<div class="mainBody mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="card border-secondary mb-3 recipeCard">

                    <div class="card-header">
                        <h3>@Html.DisplayFor(model => model.Name)</h3>
                    </div>
                    <div class="card-body">

                        <div class="recipe-summary">
                            <h5 class="card-title">@Html.DisplayFor(model => model.Description)</h5>
                        </div>

                        <!--Kate Stuff-->
                        <div class="ratingDiv">
                            @{
                                var rating = ViewBag.rating;


                                if (rating == 1)
                                { <a class="ratingStar" href="#" data-rid="@Model.recipe_id" data-star="1"><span class="fa fa-star"></span></a>
                                    <a class="ratingStar" href="#" data-rid="@Model.recipe_id" data-star="2"><span class="fa fa-star-o"></span></a>
                                    <a class="ratingStar" href="#" data-rid="@Model.recipe_id" data-star="3"><span class="fa fa-star-o"></span></a>
                                    <a class="ratingStar" href="#" data-rid="@Model.recipe_id" data-star="4"><span class="fa fa-star-o"></span></a>
                                    <a class="ratingStar" href="#" data-rid="@Model.recipe_id" data-star="5"><span class="fa fa-star-o"></span></a>
                                }

                                if (rating == 2)
                                { <a class="ratingStar" href="#" data-rid="@Model.recipe_id" data-star="1"><span class="fa fa-star"></span></a>
                                    <a class="ratingStar" href="#" data-rid="@Model.recipe_id" data-star="2"><span class="fa fa-star"></span></a>
                                    <a class="ratingStar" href="#" data-rid="@Model.recipe_id" data-star="3"><span class="fa fa-star-o"></span></a>
                                    <a class="ratingStar" href="#" data-rid="@Model.recipe_id" data-star="4"><span class="fa fa-star-o"></span></a>
                                    <a class="ratingStar" href="#" data-rid="@Model.recipe_id" data-star="5"><span class="fa fa-star-o"></span></a>
                                }

                                if (rating == 3)
                                { <a class="ratingStar" href="#" data-rid="@Model.recipe_id" data-star="1"><span class="fa fa-star"></span></a>
                                    <a class="ratingStar" href="#" data-rid="@Model.recipe_id" data-star="2"><span class="fa fa-star"></span></a>
                                    <a class="ratingStar" href="#" data-rid="@Model.recipe_id" data-star="3"><span class="fa fa-star"></span></a>
                                    <a class="ratingStar" href="#" data-rid="@Model.recipe_id" data-star="4"><span class="fa fa-star-o"></span></a>
                                    <a class="ratingStar" href="#" data-rid="@Model.recipe_id" data-star="5"><span class="fa fa-star-o"></span></a>
                                }

                                if (rating == 4)
                                { <a class="ratingStar" href="#" data-rid="@Model.recipe_id" data-star="1"><span class="fa fa-star"></span></a>
                                    <a class="ratingStar" href="#" data-rid="@Model.recipe_id" data-star="2"><span class="fa fa-star"></span></a>
                                    <a class="ratingStar" href="#" data-rid="@Model.recipe_id" data-star="3"><span class="fa fa-star"></span></a>
                                    <a class="ratingStar" href="#" data-rid="@Model.recipe_id" data-star="4"><span class="fa fa-star"></span></a>
                                    <a class="ratingStar" href="#" data-rid="@Model.recipe_id" data-star="5"><span class="fa fa-star-o"></span></a>
                                }

                                if (rating == 5)
                                { <a class="ratingStar" href="#" data-rid="@Model.recipe_id" data-star="1"><span class="fa fa-star"></span></a>
                                    <a class="ratingStar" href="#" data-rid="@Model.recipe_id" data-star="2"><span class="fa fa-star"></span></a>
                                    <a class="ratingStar" href="#" data-rid="@Model.recipe_id" data-star="3"><span class="fa fa-star"></span></a>
                                    <a class="ratingStar" href="#" data-rid="@Model.recipe_id" data-star="4"><span class="fa fa-star"></span></a>
                                    <a class="ratingStar" href="#" data-rid="@Model.recipe_id" data-star="5"><span class="fa fa-star"></span></a>
                                }




                            }
                        </div>
                        <div class="author">
                            <a href="/@Model.Username" class="author-profile"><img src="~/Uploads/Users/@(Model.recipe_id).jpg" class="img-thumbnail authorImage" /></a>
                            <span class="card-subtitle text-muted" id="authorName">Recipe By: <a href="/@Model.Username" class="author-profile">@Model.UserFullName</a></span>
                        </div>

                        <div class="recipeImage mt-3">
                            <img src="~/Uploads/@(Model.recipe_id).jpg" id="recipeImage" class="img-thumbnail rounded">
                        </div>
                        <div class="recipeMealType badge badge-info mb-2 mt-2">
                            @Html.DisplayFor(model => model.Meal_type_name)
                        </div>


                        <div class="ingredientsBody mt-2">
                            <h5>Ingredients</h5>
                            <ul class="list-group list-group-flush mt-2">
                                @foreach (var item in Model.Ingredients)
                                {
                                    <li class="list-group-item">@item.IngredientName</li>
                                }
                            </ul>
                        </div>
                        <div class="instructionsBody mt-4">
                            <h5>Directions</h5>
                            <div class="instructions mt-2">
                                @{
                                    int counter = 1;
                                    foreach (var item in Model.Instructions)
                                    {
                                        <div class="instruction">
                                            <div class="instructionStep">Step @counter</div>
                                            <div class="instructionText">
                                                @item.InstructionName
                                            </div>
                                        </div>
                                        counter++;
                                    }
                                }

                            </div>
                        </div>

                    </div>
                    <div class="card-footer">

                        <div class="row newComment">
                            <div class="col">
                                <textarea id="addComment" cols="40" rows="3"></textarea>
                            </div>
                            <div class="col">
                                <a class="btn btn-info" data-rid="@Model.recipe_id" id="btnAddComment">Comment</a>
                            </div>

                        </div>
                        @foreach (var comment in ViewBag.Comments)
                        {
                            <div class="commented-section mt-2">
                                <div class="d-flex flex-row align-items-center commented-user">
                                    <h5 class="mr-2"><a href="/@comment.Username" class="comment-name">@comment.UserFullName</a></h5>
                                    <span class="dot mb-1 mr-1"></span>
                                    <span class="comment-date pt-2">

                                        <span>@comment.CommentDate</span>
                                    </span>
                                </div>
                            </div>
                            <span class="comment-text">@comment.Comment</span>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



    </div>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")*@
</p>
@section Scripts {

    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script>

        $(document).ready(function () {

            //set rating
            $(".ratingStar").on("click", function () {
                var $this = $(this);
                var recipe_id = $this.data("rid");
                var user_id = @ViewBag.user_id;
                var rating = $this.data("star");
                var url = "/Recipes/AddRating"
                $.post(url, { recipeID: recipe_id, userID: user_id, rating: rating }, function (data) {

                }).done(function () {

                    location.href = "/Recipes/ViewRecipe/" + recipe_id;
                });


            });

            // add comment

            $("#btnAddComment").on("click", function () {

                var $this = $(this);
                var recipeID = $this.data("rid");
                var comment = $('#addComment').val();
                var url = "/Recipes/AddComment"
                $.post(url, { recipeID: recipeID, comment: comment }, function (data) {

                }).done(function () {
                    location.reload();
                });

            });

        });

    </script>

}
